<div class="container" *ngIf="!(isRegistered$| async)">
  <div class="page">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Register</h2>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Nickname</label>
            <input type="text" [(ngModel)]="data.nickname" class="form-control" id="username" name="username"
                   #username="ngModel" placeholder="Enter username" required #name="ngModel" maxlength="40" (keyup)="onNicknameTyping()">
            <div class="alert alert-danger" *ngIf="(nicknameExists$ | async).isUsed">Nickname exists!</div>
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                 class="alert alert-danger">
              <div *ngIf="name.errors.required">
                Nickname is required
              </div>
              <div *ngIf="name.errors.maxlength">
                Nickname cannot contains more than 40 symbols
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" [(ngModel)]="data.email" class="form-control" id="email" name="email"
                   placeholder="Enter email" required email #email="ngModel" (keyup)="onEmailTyping()">
            <div class="alert alert-danger" *ngIf="(emailExists$ | async).isUsed">Email exists!</div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is required
              </div>
              <div *ngIf="!email.errors.required && email.errors.email">
                Invalid email
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="data.password" class="form-control" id="password" name="password"
                   placeholder="Password" required #password="ngModel">
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                 class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Password is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" [(ngModel)]="data.confirmPassword" class="form-control" id="confirm-password"
                   name="confirm-password" placeholder="Confirm password" required validateEqual="password" #confirmPassword="ngModel">
            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                 class="alert alert-danger">
              <div *ngIf="confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="confirmPassword.errors.validateEqual">
                Password mismatch
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="number" [(ngModel)]="data.phone" class="form-control" id="phone" name="phone"
                   placeholder="Enter phone" required maxlength="15" #phone>
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                 class="alert alert-danger">
              <div *ngIf="phone.errors.required">
                Phone is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control" [(ngModel)]="data.countryId" id="country" name="countryId" required #country>
              <option value="null"></option>
              <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
            </select>
            <div *ngIf="country.invalid && (country.dirty || country.touched)"
                 class="alert alert-danger">
              <div *ngIf="country.errors.required">
                Country is required
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary"
                  [disabled]="!registerForm.form.valid || ((emailExists$ | async).isUsed) || ((nicknameExists$ | async).isUsed)">Register</button>
        </form>
      </div><!-- END of col-->
    </div><!-- END of row-->
  </div>
</div><!-- END of container-->
